<!doctype html>
<html ng-app>
  <head>
  <title><%= title %></title>
  <script type="text/javascript" src="/javascript/angular.min.js"></script>
  <script type="text/javascript" src="/javascript/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="/javascript/jquery.sticky.js"></script>
  <script>
    $(document).ready(function(){
       $('#container').sticky({topSpacing:0});
    });
  </script>
  </head>
  <body>
    <div id="container">
       <nav>
         <a href="/comics">Watch the latest comics</a> |
         <a href="/characters">Watch the marvel characters</a>
       </nav>
    </div>

    <div>
      <span ng-repeat="character in <%= characters %>"> 
        <h2>Name: {{character.name}}</h2>
        <h3 ng-show="character.description != '' ">Description: {{character.description}}</h3>
	<h3 ng-hide="character.description == '' ">N/A</h3>
        <span>
          <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" width="280" height="300">
        </span>
      </span>
    </div>
  </body>
</html>
