<!doctype html>
<html ng-app>
  <head>
  <title><%= title %></title>
  <script type="text/javascript" src="/javascript/angular.min.js"></script>
  <script type="text/javascript" src="/javascript/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="/javascript/jquery.sticky.js"></script>
  <script>
    $(document).ready(function(){
       $('#container').sticky();
    });
  </script>
  </head>
  <body>
    <div id="container">
       <nav>
         <a href="/comics">Watch the latest comics</a> |
         <a href="/characters">Watch the marvel characters</a>
       </nav>
    </div>
    <div>
      <span ng-repeat="comic in <%= comics %>"> 
        <h2>Comic: {{comic.title}}</h2>
        <h3>{{comic.description}}</h3>
        <h4>
          creators: 
          <span ng-repeat="creator in comic.creators.items">
             {{creator.name}} | {{creator.role}}
          </span>
        </h4>
        <span>
          <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" width="280" height="300">
        </span>
      </span>
    </div>
  </body>
</html>
