<!doctype html>
<html>
  <head>
  <title><%= title %></title>
  </head>
  <body>
    <div id="container">
       <nav>
         <a href="/comics">Watch the latest comics</a> |
         <a href="/characters">Watch the marvel characters</a>
       </nav>
    </div>
  </body>
</html>
